[2020-06-22 20:55] aflies1 opened #1 "Nuno Pedro"
Research: https://docs.google.com/document/d/1tYIhJ6g-uLx8ps0fRg2ygChEjw98FoHujfwbpv44U4w/edit

[2020-06-22 20:56] aflies1 opened #2 "Thuan + Jim"

[2020-06-25 18:26] aflies1 opened #3 "Juan Perez - CTO UPS"
Video: https://drive.google.com/file/d/116W0GZn5WvdZrW8i_HeJwOy_kyMrMrWO/view?usp=sharing

Research: https://docs.google.com/document/d/1laF2gZOrZNUx_DPTzS1QjdxMYNwa0wLGZj3TN5VG_1A/edit

This will need to be an audio cut: Ideally, full cut for a podcast with the audio cleaned. 1-2 audio clips of highlights from the conversation.

[2020-06-25 19:25] vbongard commented on #1
Proposal:

Nuno focused a good bit on exploration finding one's passion. I think that these points can go together to make a nice narrative on the subject. Here are the points that I would like to pull from:

9:28 - (Q: what would you recommend to students in terms of when to switch jobs?) “As long as you’re learning and experiencing something new that is adding to your professional experience, ev

[2020-06-26 02:43] aflies1 opened #4 "Dave Blogget - Head of Global Infrastructure and and Technical Operations KKR"
Video: https://drive.google.com/file/d/1bRdbkXd6WhP6dhUAJgC8KHcdiocl3yly/view?usp=sharing

Research:

[2020-06-26 02:45] aflies1 opened #5 "Harry Moseley - CIO Zoom"
Video: https://drive.google.com/file/d/1KW5jmAY-lvDZQK22G5MUgjvWe1DnNsTF/view?usp=sharing

Research:

[2020-06-26 02:48] aflies1 opened #6 "Peter Wang - CTO Buzzfeed"
Video: https://drive.google.com/file/d/1PPR9dnTIzglnPQ7a-rXtvM75lYsHFjhh/view?usp=sharing

Research

[2020-06-29 21:09] vbongard commented on #1
Overall Nuno notes:

3:15 - vid begins
First question is about Nuno being Portugese
5:15 - how did you learn that skill about how to learn? Eh, difficult to chop up for video
6:30 - how did you choose your first job? Eh
9:28 - what would you recommend to students in terms of when to switch jobs? “As long as you’re learning and experiencing something new that is adding to your professional experien

[2020-07-02 15:46] vbongard commented on #2
New cut 07/02: https://drive.google.com/file/d/1zKwrkRvOqXMeNjm0tZvikD6ODg48cCyr/view?usp=sharing

[2020-07-04 19:36] alisa-gao commented on #6
https://docs.google.com/document/d/1WHFSlVJzdkX7xu8qPGnheO4wBOkjzvjmnowWdwMSBHg/edit?usp=sharing
Video pitches

[2020-07-06 15:31] aflies1 opened #7 "Scott Price - Chief Strategy & Transformation Officer UPS"
Video - https://drive.google.com/file/d/17p_9wf-D6v2JYxGRWDgRgUD0Cd_fwprA/view?usp=sharing

Research - https://docs.google.com/document/d/16URH60FYsEIMWHophIhjywDc7q5eaDx5Z48M2c9COk4/edit

[2020-07-06 15:33] aflies1 opened #8 "Mel Wolfgang - BCG Managing Director"
Video - https://drive.google.com/file/d/1lejgP-mVyo2yLo4Czt0lw6Qj8UQQAR_h/view?usp=sharing

[2020-07-06 15:34] aflies1 opened #9 "Elaine Russell - Greycroft Co-Lead"
Video - https://drive.google.com/file/d/1YpqZUy5Du3b_nynPB-SSyLLbGf3HZ2m-/view?usp=sharing

[2020-07-06 15:41] aflies1 opened #10 "Mike Fisher - CTO Etsy"
Video - https://drive.google.com/file/d/1D9NacOQTMS84i-b4ivAqI99Ug6iHthkn/view?usp=sharing

[2020-07-06 15:43] aflies1 opened #11 "Gloria D'Itri - Senior Manager, IT Draftkings"
Video- https://drive.google.com/file/d/1RWgD61xxuw6N-EMmcOR3UKkk86Pkbrsb/view?usp=sharing

[2020-07-06 20:43] vbongard commented on #1
Here is the link to the first cut! If you like the content, I'll go ahead and add transitions, other angles, and music.
https://drive.google.com/file/d/11xM5hsZN4F_N_hwyc-ZmuA8hB3AJTfq5/view?usp=sharing

[2020-07-06 21:05] aflies1 commented on #9
https://www.google.com/url?q=https://drive.google.com/file/d/1Os6MnKBabPMbgVA11qYrRATn31VmdIrD/view?usp%3Dsharing&sa=D&source=hangouts&ust=1594155730420000&usg=AFQjCNF-wo_mGSs-56fuwvRvCw--BpD8lQ

The first question (the first two clips)
first two cuts
should be:
something like:
How did you build your network and then start with the cold calling (I think that is like a minute)
Then the second part

[2020-07-06 22:57] vbongard commented on #9
Link: https://drive.google.com/file/d/1jPumaN3dgrEYmGYpEhcfkX60adWDf1ze/view?usp=sharing

[2020-07-06 23:56] vbongard commented on #10
Video proposal: https://docs.google.com/document/d/14SEyyYNYbibOOkC2HC0IIewjI3qAFg00cmpywObkmfQ/edit?usp=sharing

I laid out options for three short videos. I can do all three, or just one or two, whatever makes the most sense!

[2020-07-09 20:44] aflies1 commented on #10
Great notes and thoughts! Let's for sure create #1 and #2. If it won't take too long do #3 as well. A long cut would be great but let's talk about that.

[2020-07-09 20:46] aflies1 commented on #9
Just two quick comments which I attached here.

![Elaine Video-Comment 1.png](https://images.zenhubusercontent.com/5ebebcdf62aac1ab839a7441/32c0e309-694a-484c-a6c7-3fce3a0bbc13)![Elaine Video-Comment 2.png](https://images.zenhubusercontent.com/5ebebcdf62aac1ab839a7441/3a9641d4-5055-4e19-b963-2380080a62a8)

[2020-07-13 02:36] aflies1 commented on #1
Hey victoria!

I love the content in here, especially how you added in Brett talking about Fun, Impact, and skills.

I'd challenge you to add in some graphics to hit some main points throughout the video, excited to see the cleaned-up version.

@vbongard

[2020-07-13 19:27] aflies1 commented on #4
- [x] Research

- [x] Notes on Video

- [x] Video Pitch / Storyboard

- [ ] First Draft

- [ ] Edits

- [ ] Final Draft

[2020-07-13 19:28] aflies1 commented on #5
- [x] Research

- [x] Notes on Video

- [x] Video Pitch / Storyboard

- [ ] First Draft

- [ ]  Edits

- [ ]  Final Draft

[2020-07-13 19:28] aflies1 commented on #8
- [ ] Research

- [ ] Notes on Video

- [ ] Video Pitch / Storyboard

- [ ]  First Draft

- [ ] Edits

- [ ] Final Draft

[2020-07-13 19:29] aflies1 commented on #3
- [ ] Research

- [ ] Notes on Video

- [ ] Video Pitch / Storyboard

- [ ] First Draft

- [ ] Edits

- [ ]  Final Draft

[2020-07-13 19:30] aflies1 commented on #11
- [ ] Research

- [ ]  Notes on Video

- [ ] Video Pitch / Storyboard

- [ ]  First Draft

- [ ] Edits

- [ ]  Final Draft

[2020-07-13 19:30] aflies1 commented on #7
- [ ] Research

- [ ] Notes on Video

- [ ] Video Pitch / Storyboard

- [ ] First Draft

- [ ] Edits

- [ ] Final Draft

[2020-07-13 21:10] vbongard commented on #9
Updated cut with the edits: https://drive.google.com/file/d/1n7xHc0umPbD8bElol_oWD8XP3-taUxOw/view?usp=sharing

[2020-07-14 03:44] aflies1 commented on #9
Thanks! Just caught a spelling error on a word I misspell constantly, could
you quickly change to "entrepreneur" on the last question?

thanks,
adam

On Mon, Jul 13, 2020 at 5:10 PM vbongard <notifications@github.com> wrote:

--
Adam Lies
Director of Talent at ProMazo
574-210-1589

[2020-07-14 12:13] vbongard commented on #9
Good catch! Here it is with the spelling corrected: https://drive.google.com/file/d/1BOpWYU1oa29mtKbhqHksbqVKF_ezI04p/view?usp=sharing

[2020-07-14 19:28] aflies1 commented on #9
@vbongard Thanks!

[2020-07-16 00:36] MeganHP commented on #5
Research: https://docs.google.com/document/d/1aH5-XYtGcNFwqYnFYJi38EwuWJU0qWh9MgqPf_mlAqQ/edit?usp=sharing

[2020-07-16 13:36] vbongard commented on #1
Polished version: https://drive.google.com/file/d/1HFmcsDdLQG60oXB7Kv8MS0idbwMlEMsS/view?usp=sharing

[2020-07-16 19:30] aflies1 commented on #1
Awesome! @vbongard

2 items:

- [x] 1:42 mark - rough transition. Let's smooth that with an effect.

- [x] Lower the background music a touch

[2020-07-16 19:38] aflies1 commented on #5
@MeganHP

Love the ideas and the content you pulled out. Will talk later today on the difficulty of execution. Not sure if we can grab a photo/video of his puppy, but would be interested to see how a stock puppy would look in there.

Go for the first draft!

[2020-07-20 14:33] vbongard commented on #1
48+ hours of exporting later and the new cut is finally uploaded: https://drive.google.com/file/d/1S4sTlFdfY4-73dzK8ztw96TRnHxbjON4/view?usp=sharing

[2020-07-28 02:01] vbongard commented on #10
Short video about company (#1): https://drive.google.com/file/d/1UtGPTLQ3wqFbNRvO8VHEwlwPzWBX6qqM/view?usp=sharing

Short clip with story about masks (#2): https://drive.google.com/file/d/15C50FQTTaH4YaMO3Fw1ofQXUBDkOBMW9/view?usp=sharing

Short video with advice (#3): https://drive.google.com/file/d/1pUN8CQy6NpHBwmRuBhXHGIlYq9W5MUGh/view?usp=sharing

[2020-07-30 20:57] aflies1 commented on #10
- For both the longer cuts, the audio just abruptly cuts at the end.

- Could we add some highlight quotes throughout the 2 5-minute cuts?

- Love the mask video!

I didn't see too much else, I like the content.

[2020-07-30 21:00] aflies1 opened #12 "Andrey Volosevich: Jefferies"
Video: (https://drive.google.com/open?id=1xFe1SxjGdX11fCNsPTqavotRv9B7frmp)

[2020-07-31 01:56] vbongard commented on #12
Video pitch (this is on the shorter side, is that okay? Not sure how it should look now that we have the new spreadsheet/system): https://docs.google.com/document/d/1FWk3SkU22Wwdmr-54cMavRUS1R33WHx31TWMnJOGQwQ/edit?usp=sharing

[2020-08-03 14:33] MeganHP commented on #5
Here are the first drafts of the shorter videos. There is a glitch with the text of the question in the advice video. I'm working on fixing it. [https://drive.google.com/drive/folders/15T_VSx6GEuKn3LyezjbjLnFreOErVyRZ?usp=sharing]

[2020-08-04 14:51] aflies1 commented on #12
Pitch looks good. Go for editing @vbongard

[2020-08-10 21:02] vbongard commented on #12
Short 2 cut 1: https://drive.google.com/file/d/1aIcEfU-wS1pJfU6baoWxaqIwpoNCji7u/view?usp=sharing

Sort 1 cut 1 pending

[2020-08-10 23:59] vbongard commented on #12
Finally got the other cut exported and uploaded! https://drive.google.com/file/d/1nes_VDda6bwtolscL1nZqTpm3zlQE8ns/view?usp=sharing

[2020-08-13 21:28] aflies1 commented on #12
- I like the Jefferies logo, we should do that with more videos.

- Graphics are a good add.

- These seem really good, I'm going to send to Brett.

@vbongard

[2020-08-16 02:52] alisa-gao commented on #6
https://drive.google.com/file/d/1Wj8QuKDPJiBYvnwHP46NchbLTMEuVYiT/view?usp=sharing
I haven't put any b-roll in yet, but wanted to upload what I have so far with content

[2020-08-17 14:05] aflies1 commented on #12
@vbongard

I love the idea of using the logo, but that we will need permission which may delay the approval significantly so I would take it out.
for the 3 min video, I would put me asking the question in there at 2:03. It seems like too big of a jump in the video.

-From Brett

[2020-08-19 02:35] vbongard commented on #2
Cut 5 (with Thuan edit): https://drive.google.com/file/d/1AjHaOK2r7dBuPX9xhJlteOfnN3XYdMWj/view?usp=sharing

[2020-08-19 19:29] vbongard commented on #12
Short 1, cut 2: https://drive.google.com/file/d/1KblAl8fuK40WyJBaJLZlbVhJICi_7JCy/view?usp=sharing

Short 2, cut 2: https://drive.google.com/file/d/1bdhr3Xe1qXBFI5DlfTmWACJv5Nsn3A1F/view?usp=sharing

[2020-08-22 02:12] jaahmuhl commented on #12
Hi Victoria,

I really like the video, the only issue is that I think it will take awhile
to get the Jefferies logo approved. Do you think you could remove those?

On another note with the Thuan video, they requested that you lower the
volume of the background music.

And I just talked with the head of the NBA Players Association and she said
she loved the video. So keep knocking it out of the par

[2020-08-22 16:35] vbongard commented on #12
Hi Brett,

I'm not sure if you saw the updated cuts for the Jefferies videos, but I went ahead and took out the Jefferies logo on those. Will lower the background music on the Thuan video and re-upload. Glad to hear that it's going over well!

~Victoria

[2020-08-24 20:09] aflies1 commented on #6
@alisa-gao
I like the content in here, I'm interested to see how it turns out with music and cleaned up transitions

For the other video can we combine the micro clips to make the focus on the media space and his advice

[2020-08-24 21:08] aflies1 opened #13 "Emilia Sherifova - KKR CIO"
https://drive.google.com/drive/folders/1EJ-JLXJCxvqtYCfZhIPS7iE5nI4CfJyh

For this video can we do a broadcast type feel where we have all 3 on-screen and then switch in and out to the one who is speaking?

[2020-08-24 21:09] aflies1 commented on #13
https://promazo.monday.com/boards/693049887/pulses/693050107

[2020-08-25 01:00] vbongard commented on #10
Hi Adam,

Here are the updated Etsy videos!

Masks story cut 2: https://drive.google.com/file/d/1TVqymmEiPttRTxnSXKgoY8A5FebTFkKv/view?usp=sharing
Advice cut 2: https://drive.google.com/file/d/1y58gVv6DNJeDUPbeh7fxtNpFcTik3JIj/view?usp=sharing
Company cut 2: https://drive.google.com/file/d/1H10XTW4GqrBHu8g1Qr11fbFU739j_Umu/view?usp=sharing

[2020-08-25 01:56] vbongard commented on #2
Cut 6 (with quieter background music): https://drive.google.com/file/d/1SSw0rm291IHCRIKLIMeqEMvjKro9USr0/view?usp=sharing

[2020-08-26 16:53] vbongard commented on #4
Hi Adam, I got through until the last 5 minutes of taking notes when I realized that this is not the KKR video that Brett wanted me to do next... I was nearly finished so I went ahead and did the pitch, but I'll pause work on this now and get working on the KKR Emilia video instead.

Here's the proposal for this video (the one with Dave): https://docs.google.com/document/d/1FWlTsD51Q2R9GPQgrIozKPB

[2020-08-28 00:11] vbongard commented on #13
Hi Adam,

I've finished the video pitch! Sorry again about the call this afternoon, I spent two hours on the phone with the internet company in the morning, things were working fine, then at 4:40 everything fell apart again. It's working now, so hopefully that lasts! Pitch is copy and pasted as well as linked below

Video 1: career exploration
* 6:40 (answering question, how did you work up the co

[2020-08-31 00:07] vbongard commented on #13
Hi Adam,

I went ahead and put together the videos! If you have feedback on content, please let me know. I can add some graphics and fun quotes and whatnot, but didn't want to take the time to do that yet until I got a sign off on pitch/content. Thanks!

Video 1: https://drive.google.com/file/d/1OVkqUipvvkW4SWinetiPqY8ub4lB3J2y/view?usp=sharing

Video 2: https://drive.google.com/file/d/1ZC2BjHvSSr

[2020-08-31 21:38] vbongard commented on #10
Here's the company video without the big long black bit: https://drive.google.com/file/d/1nNE5ES4cofThcScS6XVB05QCQ-t7HSSY/view?usp=sharing

[2020-09-01 01:48] MeganHP commented on #5
Here is my next draft of the Harry Moseley advice video: https://drive.google.com/file/d/1ZAbcaOGqooP4qipvN5mBEaPbjyQgNiim/view?usp=sharing

[2020-09-01 02:05] jaahmuhl commented on #12
Oh ok. Sorry I don't get updates when that happens. No worries.

Also I did get a response from Giovanni. It looks like they will probably
go with someone who has experience in building finance videos, but not
finalized yet.

Have a great night.

Brett

On Sat, Aug 22, 2020 at 12:36 PM vbongard <notifications@github.com> wrote:

[2020-09-01 20:27] jaahmuhl commented on #12
Hi Victoria,

Would you mind sending me the link to the Andrey and Thuan videos when you
have a chance? I can't seem to locate where the final ones are.

Thanks.

Brett

On Mon, Aug 31, 2020 at 10:05 PM Brett Hummel <brett@promazo.com> wrote:

[2020-09-03 20:19] aflies1 commented on #5
@MeganHP

- Have his title fade away after 3-5 seconds

- Remove the go the extra mile, maybe include it into the background with him, cutting it there seems to throw me off

Other than those 2 items, looks great!

[2020-09-03 20:29] aflies1 commented on #13
@vbongard Waiting for Brett's feedback. I like the content of those. I also think because of the zoom they play better separated than put together.

[2020-09-04 03:11] alisa-gao commented on #6
https://drive.google.com/drive/folders/1juXm_ctNO0PTx7RhqpXRd3G662Si9or0?usp=sharing

Attached are two microclips

[2020-09-04 13:59] jaahmuhl opened #14 "100k Mentors App Demo"
https://drive.google.com/file/d/1RE4_F40OGDmuj61iTxo7OXQTF80fRR44/view?usp=sharing

@vbongard
@aflies1

[2020-09-04 14:00] jaahmuhl opened #15 "Rick McCathron (Hippo Insurance, Chief Insurance Officer)"
https://drive.google.com/drive/folders/1M5TVkeIiQdQW3dItaHdGWDdyXkRqVuy5?usp=sharing

@aflies1

[2020-09-09 16:19] jaahmuhl opened #16 "Rick McCathron, Hippo"
https://drive.google.com/drive/folders/1bj7_4tz32KVAIQuzKsm_DX8G-aLUbJUs?usp=sharing

@aflies1

[2020-09-09 16:20] jaahmuhl opened #17 "Mike Gordon"
@aflies1
https://drive.google.com/drive/folders/1hZBVJBysq4Zg7X--9C3kd45C6LOP8MEM?usp=sharing

[2020-09-10 03:31] vbongard commented on #13
Hi Adam,

Sorry for the delay! Updated cuts:

Vid 1 cut 2 (added words on screen, slight cropping): https://drive.google.com/file/d/1Awgf5JJH-XCFeQCiIvKJsHQzio9jBQVg/view?usp=sharing
Vid 2 cut 2 (slight cropping): https://drive.google.com/file/d/1hcp_sWGj82NdK0zk2rYeEdQaMKcCEgg2/view?usp=sharing
Vid 3 cut 2 (added words on screen, slight cropping): https://drive.google.com/file/d/1PlK2fmL360GyZOKl

[2020-09-10 17:58] aflies1 opened #18 "Jacqueline Fuller - President Google.org"
https://drive.google.com/drive/folders/1tX1k1pR2O4DgnXxjNHhAPZ1SJ9Tq8EAc

[2020-09-10 20:45] MeganHP commented on #5
Here is the revised video: https://drive.google.com/file/d/12VIdLODLPiYWVqDDXAm1Pc7pu6zFiZwk/view?usp=sharing

[2020-09-10 20:47] aflies1 commented on #6
@alisa-gao

The 1st micro clip in the folder does not open, could you reupload it.

The other I like, can we add music in that and the long cut? And also clean up the transitions, the short clip jumps a lot.

[2020-09-10 21:13] aflies1 commented on #5
@MeganHP
The only thing to clean up would be when his Name and Title go away can you fade it out instead of having it jump off the screen?

Looks great!

[2020-09-11 04:48] MeganHP commented on #5
Here is the newest draft of the advice video (with the name fading out): https://drive.google.com/file/d/1shKyvF6b1bCsZ1cUz1J1jNNkPKyDXCbI/view?usp=sharing
And here is the newest draft of the Zoom video: https://drive.google.com/file/d/1qD4NBoS917UPGrOlwAix2VqM-c0hfYa9/view?usp=sharing

[2020-09-22 05:05] jaahmuhl opened #19 "Tim Richardson-Hulu"
https://drive.google.com/drive/folders/1PV3AbB0mQUySB62GCCCekuRAn7oHoH25?usp=sharing

@aflies1

[2020-09-25 21:44] alisa-gao commented on #6
https://drive.google.com/file/d/1vJFfFPIO1GJbsO7R4jcabm_sQQhUq8Sf/view?usp=sharing

[2020-09-28 23:31] vbongard commented on #15
Hi Adam, here's the pitch! I think a lot of the stuff he says goes together well, so I'm pitching a slightly longer video (7-9 minutes). If you'd rather keep it shorter, I can cut it down :)

https://docs.google.com/document/d/1xOT1IoiJm78DBiOjifakzmt0djxt6yYR45lBsyTOuKU/edit?usp=sharing

[2020-10-03 05:59] aflies1 opened #20 "Brentt Baltimore"
https://drive.google.com/drive/folders/0B80CPMffzsHBZXBXNkJVS29YVGs

https://docs.google.com/document/d/1rQ88zOcSNnhd-fZgjd0ki0W2_hdsWEG6Mi9soBp8K98/edit

[2020-10-03 06:06] aflies1 opened #21 "David Sagalov"
https://docs.google.com/document/d/1wLpwhtxT6FZPT3KhfnKmKoIQ2XWJ03LpbgEQNXum2QM/edit?usp=sharing

https://drive.google.com/drive/u/0/folders/1gUF4PgyRHxNfGwXijpeFHo4XXM6wGO6E

[2020-10-05 13:34] bryanace53 commented on #15
The video is in the drive

https://drive.google.com/drive/u/2/folders/1F9-yTtCbQ-T1v0vIPiEwLjKhLulaQEyq

[2020-10-05 13:34] bryanace53 commented on #16
The Video is in the drive

https://drive.google.com/drive/u/2/folders/1F9-yTtCbQ-T1v0vIPiEwLjKhLulaQEyq

[2020-10-05 13:36] bryanace53 commented on #7
Video is in the drive

https://drive.google.com/drive/u/2/folders/1WffiFn0C_iaQRzc732clRBUtQz2yKfij

[2020-10-06 03:59] MeganHP commented on #5
Here is the Zoom video with the laugh cut out: https://drive.google.com/file/d/1I2gdynWzOX48kzGLlLuxDgQer_3feUct/view?usp=sharing

[2020-10-06 21:05] vbongard commented on #17
https://drive.google.com/drive/u/2/folders/1F9-yTtCbQ-T1v0vIPiEwLjKhLulaQEyq

@bryanace53 There are two different Hippo videos, I think you're editing the Mike one and I'm editing the Rick one. You accidentally posted your link on the Rick one, so I just moved it over here :)

[2020-10-08 06:16] bryanace53 commented on #8
https://drive.google.com/drive/u/2/folders/1Yk-HIrRRiQSix-klhIDvuM4zxRWwr8uF

Here's the link to the video.

[2020-10-08 20:02] vbongard commented on #10
Masks story with added context at the beginning as per Brett's request (will send directly to him as well): https://drive.google.com/file/d/10tHVClWvt_xu-skDWEJPHtAN6_b4WzKl/view?usp=sharing

[2020-10-11 15:03] jaahmuhl commented on #8
@bryanace53 @aflies1

Really good job here Bryan. I had a few comments:
00:29-The title slides out weird for Mel at the bottom left
3:10- The video cuts off when he is describing his most important piece of advice. I would rather shorten or eliminate his whole discussion on the naval school in the first cut than take out his most important piece of advice and his follow up to that
3:10-Title Text

[2020-10-11 15:15] jaahmuhl commented on #5
Hi Megan,

this video looks really good. Could you change the title at 40 seconds in to be: How does your work have a broader impact on the world?

@MeganHP
@aflies1

[2020-10-11 15:18] jaahmuhl commented on #5
Oh also the music in the beginning especially is a little loud. Could we reduce it throughout the clip?
@MeganHP
@aflies1

[2020-10-11 15:31] jaahmuhl commented on #13
@vbongard
@aflies1
Vid 1:
How do you cultivate professional development opportunities?
There were big gaps in the video where the screen goes black (I don't know if you were planning on putting questions in those places)

Vid 2:
00:07-the word course is misspelled
Vid 3:
00:08-Change text to Why are mentors important?

[2020-10-11 15:37] jaahmuhl commented on #17
@bryanace53
@aflies1

Could we set up some time to chat about this one? I think we need to strategize how we do the three way video/make it a bit more cohesive.

[2020-10-11 15:43] jaahmuhl commented on #17
I think we need to swap out the opening question where he talks about the military. I don't think it adds much
The start up question was good.
3:43-this is where I think we really have to put in some work. It is still a little odd how this is coming across. It cuts to me before I speak, then cuts again and then I ask the question, then it shows the text

I'd also like to make sure Baptiste has a q

[2020-10-11 16:03] vbongard commented on #13
@jaahmuhl @aflies1

Hi Brett,

Can do for videos 2 and 3! For video 1, it should end at the 2:15 mark. The first cut was the right, but I forgot to chop the second cut at the right point. Will upload adjusted versions of all three shortly.

[2020-10-11 16:16] vbongard commented on #13
@jaahmuhl @aflies1

Here are the edits:

Vid 1, cut 3: https://drive.google.com/file/d/1azxc9UkOuOPvi176Y55gR4GE4ObRfJ6Y/view?usp=sharing

Vid 2, cut 3: https://drive.google.com/file/d/1bUd4komXFCFAPRaqCvQDNW4A8xFqb0lq/view?usp=sharing

Vid 3, cut 3: https://drive.google.com/file/d/13Ud6gIBldKK9XCQoio71Rdgeb0Bt7a40/view?usp=sharing

[2020-10-11 16:18] jaahmuhl commented on #16
@bryanace53 I don't see this video in there

[2020-10-11 16:40] jaahmuhl commented on #7
@bryanace53 @aflies1

I think this is a very good video. I think we need to do a discussion on him though because he has some absolutely amazing nuggets (I'm thinking multiple videos)

For the video you created:
the first title text: Change to 'Tell Us a Little About Yourself'. I am also questioning if we want this in the video because the back half is spectacular. Or should it be its own video. L

[2020-10-15 16:15] jaahmuhl opened #22 ""Broadcast Videos" That I want to Create"
Hi All,

I wanted to give you a sense of what I'd like to create with our broadcast type videos. We won't be doing this for each interview, but I think for the ones where we really want to go all out this is the format I'd like to see it in.

https://www.youtube.com/watch?v=V2hhGI6eltE

@aflies1
@vbongard
@bryanace53

[2020-10-15 16:34] jaahmuhl commented on #13
@vbongard  just a couple quick last edits.

![KKR Video 2 Cut 3.png](https://images.zenhubusercontent.com/5cb3b35dd74bd07972cea86e/75ceb770-afa4-4588-bc96-ec14da85fab5)

![KKR Video 3 Cut 3.png](https://images.zenhubusercontent.com/5cb3b35dd74bd07972cea86e/359b7d73-8a8e-49c1-88c8-29cad596ebc5)

[2020-10-18 16:49] vbongard commented on #10
Final version of the masks story (emailed to Brett as well): https://drive.google.com/file/d/1vqCbK3JC0HkhE9t5B-M0aGSxzGa2X8qp/view?usp=sharing

[2020-10-18 16:50] vbongard commented on #14
Putting the link in ZenHub since it hasn't been updated here yet: https://drive.google.com/file/d/19Ht3P78LFG4hRgvsBvtzFxdGjPLg8TGX/view?usp=sharing

[2020-10-19 13:58] vbongard commented on #13
@jaahmuhl

Here is video 2 with the updated caption: https://drive.google.com/file/d/1oIbti5KOdCnqBfRKzRcWBXm4W4Xzu0YT/view?usp=sharing

You can't change thumbnails in Google Drive, so instead I lengthened the outro by a few seconds, which should theoretically change the thumbnail (I can't check because the video is still processing). Here's the link for that: https://drive.google.com/file/d/1oIbt

[2020-10-20 18:08] jaahmuhl opened #23 "Bruce Starnes-Target"
https://drive.google.com/drive/folders/15a90IgdVYIPsKsEZ-GNR4Lw6AV0Yx-PN?usp=sharing

@aflies1

[2020-10-20 18:11] jaahmuhl opened #24 "Aqeel Danish-NBC"
https://drive.google.com/drive/folders/10cdPox82Y0eDXlGxJe05-N1cW1sx6Lsf?usp=sharing

@aflies1

[2020-10-26 05:47] bryanace53 commented on #7
https://drive.google.com/drive/u/1/folders/1WffiFn0C_iaQRzc732clRBUtQz2yKfij

New video uploaded

[2020-10-26 06:06] bryanace53 commented on #8
https://drive.google.com/drive/u/1/folders/1Yk-HIrRRiQSix-klhIDvuM4zxRWwr8uF

New Video is up

[2020-10-26 21:00] vbongard commented on #16
Hi Adam, did we ever get the video of the other interviewer? I don't see it in the folder so I still just have the placeholder. Here are the videos with placeholders:

Video about culture and opportunities at Hippo: https://drive.google.com/file/d/10txz9Mypo40mNPOP13BzK5mF5w3omTeo/view?usp=sharing
Video about the workforce and luck: https://drive.google.com/file/d/1TlG-JYCrgvPVm9VuocAcbvOWzI8Lduh9

[2020-10-27 18:12] bryanace53 commented on #20
Here is the video. I tried something new for the background and added new music. Enjoy !

https://drive.google.com/drive/u/1/folders/1G2k9uU1dfVqHZf34nq1D-b3AHfQb5Yzq

[2020-10-28 23:22] alisa-gao commented on #6
https://drive.google.com/file/d/1nf8NhYhXu7GYA80ukWEojD0e9nDMppDx/view?usp=sharing
https://drive.google.com/file/d/1ZNChLEZNOTJY5RNfGs8dk5au0Nj-n1yO/view?usp=sharing

Hi Adam, here are the updated microclips. The second one took a little longer because I was experimenting with a new animation in After Effects. Let me know what you think!

[2020-10-29 17:15] jaahmuhl opened #25 "Melisa Tokmak, Head of Document Products, ScaleAI"

[2020-10-29 21:02] MeganHP commented on #5
Here is the revised video with lower music and the new question: https://drive.google.com/file/d/1UalZXS0GEgB5fYlWirnYveOAX3OMfb5M/view?usp=sharing

[2020-10-30 02:42] bryanace53 commented on #19
Hey guys I uploaded the Tim Richardson video onto the drive. Let me know what you guys think !

https://drive.google.com/drive/u/1/folders/1ycyIJS6Ban0FvtWwiVSv7SfHHV6fiAbb

[2020-10-30 03:43] jaahmuhl commented on #25
https://drive.google.com/drive/folders/1z_w7lLHgketfkQgnYrveSKYgn195nt0q?usp=sharing

@aflies1

[2020-10-30 04:17] bryanace53 commented on #21
Hey guys, I finished the video its on the drive. Let me know what you think !

https://drive.google.com/drive/u/1/folders/1Gil-LDnwLJ89H8bFjJYNb5NLS3Ot_9ML

[2020-11-02 18:46] vbongard commented on #15
@aflies1 The Rick video is in ZenHub twice. Okay to delete this one so that we don't have duplicates?

[2020-11-02 18:50] vbongard commented on #16
I spoke with Brett and it turns out we don't have the other angle. So, I'm reverting back to the style that I've used previously:

 Video 1: https://drive.google.com/file/d/1WbzPpmT0CLTtnQ9bnGflQppJKuKbGNVn/view?usp=sharing
Video 2: https://drive.google.com/file/d/1xM-yBY5sXeazmWUCHvnhtSQpHLFk5Y1-/view?usp=sharing

[2020-11-02 22:04] #15 closed, assigned to vbongard

[2020-11-11 21:38] aflies1 opened #26 "ProMazo Promotional Video (100k Interviews)"

[2020-11-12 22:44] vbongard commented on #16
Here are the videos revised with Brett's comments:

Career: https://drive.google.com/file/d/1LTBRw0zNTrkIaWb2I3eh-0dhKr0_y7_8/view?usp=sharing

Hiring: https://drive.google.com/file/d/1LnhanHnOggXDg79veHQUxZxZXBunz-oW/view?usp=sharing

Leadership: https://drive.google.com/file/d/1AyLNOHbLKq5T6ZhCM0Rvk4oLjK4yS8N8/view?usp=sharing

[2020-11-16 20:26] bryanace53 commented on #24
Here is the NBC video enjoy !

https://drive.google.com/drive/u/1/folders/1Ohy5wkN7pL1FhRuPNk-KWs_sRilq4oeb

[2020-11-21 07:56] jaahmuhl opened #27 "Ed Roussel-Wall Street Journal"
https://drive.google.com/drive/folders/1U6lEYBrASvgKgPIS8gK_XuJJcN5ClEcD?usp=sharing

@aflies1

[2020-11-21 07:57] jaahmuhl opened #28 "Subbu Iyer-Target"
https://drive.google.com/drive/folders/1DyjdEQj6KqlOoI7ty-rzwwuq2zf8Nfrl?usp=sharing

@aflies1

[2020-11-23 15:18] vbongard commented on #4
Video 1, cut 1: https://drive.google.com/file/d/1EQtIrB_50gUUTx8BKQIHrxF4ai1X2WXD/view?usp=sharing

Video 2, cut 1: https://drive.google.com/file/d/1P0wdo7D702dFJRpMqkZma6qviyAfRYET/view?usp=sharing

[2020-11-28 21:52] jaahmuhl commented on #23
@bryanace53 I didn't see a video link here. Could you post it when you have a chance?

[2020-11-28 21:57] #14 closed, assigned to vbongard

[2020-11-28 22:00] jaahmuhl commented on #20
@bryanace53 I like the idea, but the background seems to be moving a little too fast and makes it a bit distracting. Is there a way we could slow it down or make it fixed?

[2020-12-03 17:43] vbongard commented on #16
Here's the edited career video per Brett's edits: https://drive.google.com/file/d/1QizRVFUl88ObrhKXm2G-uUnT2-8mdyWg/view?usp=sharing

[2020-12-10 01:16] jaahmuhl commented on #19
@bryanace53 I thought we have a video for this?? Why did you make it only as an audio?

[2020-12-10 01:38] jaahmuhl commented on #4
@vbongard

Video 1, cut 1:
Q1: Can you describe what it was like to go straight from high school to the working world?
Q2: What are the benefits of getting a formal degree?

Video 2, cut 1:
Q1: What role did mentors and coaches play in helping you succeed in your career?
Q3: How can a young professional stand out to their manager? And cut out from 4:11-4:45.

[2020-12-10 02:05] jaahmuhl commented on #7
@bryanace53
Scott Price Fin: The title should be:
Scott Price,
President UPS International.

Q1: There is a space between the ? and the last word (it seems to be in each question).
I have a laugh in there in the middle and wanted to see if we could cut that out.

I would cut out the first question and make it its own video (tell us about your early career)

Q2: How do you have a successful career?

[2020-12-10 20:21] vbongard commented on #4
@jaahmuhl

Hi Brett,

Below are the updated cuts! Also, I got your email with the transcript from Rev, but I don't see your notes on it. Is there something I'm missing? I'm happy to do a third video, I just couldn't see the notes on what you want to include in it.

Video 1, cut 2: https://drive.google.com/file/d/1_SgDPvt1cHaO8iuF85tfM4jpvszu1gbx/view?usp=sharing

Video 2, cut 2: https://drive.goog

[2020-12-10 20:55] vbongard commented on #25
Pitch:

**Video 1: Industry Exploration**
_This video would cover advice about navigating the job search and tech industry. It focuses on specific types of roles (software engineering and project management), as well as keys to success and how to find a role and a company that suits you._
3:38 - difference between software engineering and project management, and what skills do students need to suc

[2020-12-17 19:14] jaahmuhl commented on #18
@bryanace53 excellent job with the video. Just one last piece of audio is out of sync. On the 2nd angle at 1:40-2 mins the audio seems not synced. On the other 2nd angle cuts it is spot on, but for some reason it does not appear to be syncing with this one.

https://drive.google.com/file/d/19wIcisl9MkGxwOpZfmvl0Sqqajpl5tqq/view?usp=sharing

[2020-12-18 05:19] bryanace53 commented on #18
I fixed the video hopefully it's better.

https://drive.google.com/drive/u/1/folders/124jXzzBHD4hLpR17LFXHTXw2_uQ05419

[2020-12-18 05:22] bryanace53 commented on #19
Unfortunately when downloading his video only the audio plays. The other two angles work but Tim's video not show.

[2020-12-18 05:39] bryanace53 commented on #23
My bad here is the video, I also fixed the background.

https://drive.google.com/drive/u/1/folders/1RsAHySSv22TXUQx2Y2IEQWi4ca2lrMBN

[2020-12-18 06:18] bryanace53 commented on #7
I fixed the videos let me know if its good.

https://drive.google.com/drive/u/1/folders/1Uk3hteSF0OrPf4Fh2Z_Fml1GYslZR97l

[2020-12-18 06:32] bryanace53 commented on #20
I fixed the background. Let me know if its better.

https://drive.google.com/drive/u/1/folders/1eC-8txBlYtqfMZDCBVj3mn0DO-MigAkj

[2020-12-31 06:19] jaahmuhl commented on #17
Hi Bryan,

I would cut the first part up to 1:55 and then start with the question Why did you join Hippo.

Everything else looks good to go.

I think though in the future when we do the three way broadcast style I would like to hear us (Baptiste and myself) speak and then also cut between him being the main frame and us. Right now we keep it all the same and so it is a little odd just looking at o

[2020-12-31 06:58] jaahmuhl commented on #18
Ok looks good. @bryanace53. Moving it to final

[2020-12-31 07:06] jaahmuhl commented on #23
:10-Change question to: How did you understand what an employer is looking for?

All of my questions you don't see me and it breaks the third wall for the audience. I have to be seen in the video if we are going to have me ask questions.

[2021-01-06 06:10] jaahmuhl commented on #4
Video 1, cut 2: Question 1: Why did you go to get your degree later in life?

Video 2, cut 2: on minute 4:11-4:13 it goes to black screen for two seconds.

Video 3: Ok so Rev is a little touchy in regards to the way the notes display. I made a highlight of the two and then on the word before I put in a comment. Do you want to do a quick meeting to go through how I'm doing it?

thanks.
Brett

@vbon

[2021-01-06 06:24] jaahmuhl commented on #7
@bryanace53
@mikepromazo

SOCIAL MEDIA VIDEO:
The question at the end of the question still has a space at the end of the question between the last word and the question mark.

FIN:
I like how you cut out the first part of the career track, but I thought you were going to port that first question from the original video (tell us about yourself) and make it its own standalone video.

[2021-01-06 06:44] jaahmuhl commented on #25
@mikepromazo @vbongard

Yep this looks good. We had highlighted the same parts of the interview for our videos.

Thanks Victoria.

Brett

[2021-01-06 07:02] jaahmuhl commented on #5
@vbongard

Hi Victoria I highlighted what I felt were the important parts of the video. Let me know if you want to set up some time to chat through it.

I am sharing the transcript with you too.

Best,

Brett

[2021-01-12 16:42] vbongard commented on #4
Hi Brett,

I checked again and I found the notes and highlighted questions! I put together a third video and made the edits to the first two. Here are the cuts:

Vide 1, cut 3: https://drive.google.com/file/d/1i6cmGWgefniIInIwWLNdNqSzkjnGs8nM/view?usp=sharing

Video 2, cut 3: https://drive.google.com/file/d/1rhGp-XoN_yv6xdrJYLpnxdej-E816kOm/view?usp=sharing

Video 3, cut 1: https://drive.google.co

[2021-01-12 22:41] vbongard commented on #25
Video 1, cut 1: https://drive.google.com/file/d/1LyYKkxEx_7pqswKyhwKHAYGFlU3lyDqS/view?usp=sharing

Video 2, cut 2: https://drive.google.com/file/d/1alEL-B8idJ9WrauOGpTogJkHLwfE54hB/view?usp=sharing

@jaahmuhl
@mikepromazo

[2021-01-13 05:28] bryanace53 commented on #7
Hey Brett,

I fixed the social media video and uploaded the standalone video which was the (tell us about yourself).

https://drive.google.com/drive/u/1/folders/1_0PsVQK0eiXoJ-mFQgS7Yd2PbCqBWjAK

[2021-01-13 05:33] bryanace53 commented on #23
Hey Brett,

I fixed the video let me know what you think !

https://drive.google.com/drive/u/1/folders/1NyWDJhv04giGlEtrRvEZVnPOcoJLDrs1

[2021-01-13 05:36] bryanace53 commented on #17
Hey Brett,

I will definitely do that next time. I did fixed the video let me know what you think.

https://drive.google.com/drive/u/1/folders/1T_0QGK4vgvSD8NVNn_uzJnQPjhtrLzM9

[2021-01-18 06:39] bryanace53 commented on #11
Here is the final video. Hope you enjoy !!

https://drive.google.com/drive/u/1/folders/1rehVko5HS17gqs6CihbLqYwAZ1lVYZhl

[2021-01-19 12:31] bryanace53 commented on #27
Here is the video

https://drive.google.com/drive/u/1/folders/1vHuOsxeRdhBBapGjnFDAvN5Q9PwNfVFA

[2021-01-19 19:49] vbongard opened #29 "Paula Tolliver - Intel"
Pitch:

For the Intel interview, I'd like to do two videos. The first would be about mentorship and the second would be about navigating managers and your career path. Here are the points that I would like to include for each video:

Video 1: mentorship

6:10: what was it like to be a woman in IT and how did you network and find career growth? She never saw herself as different. She was good at wh

[2021-01-20 00:24] vbongard opened #30 "Lauren Gross, Founders Fund"
https://drive.google.com/drive/u/4/folders/1_fOt49YCPhae1JW9v7xpULHjcAF3zRFE

[2021-01-21 13:26] bryanace53 commented on #28
Here is the video please let me know what I should fix thank you !!

https://drive.google.com/drive/u/1/folders/1TXGi2QP96krR3s3irCkzpYwpxr1hzfIf

[2021-01-25 22:24] vbongard opened #31 "Dave Ward - Cisco"
There was no instance of this video on Zenhub since I made it a while ago, so here's a new one for it!

I edited the audio in the long cut so that Brett's voice doesn't fade away: https://drive.google.com/file/d/1fwhsFDQq8GpOCfxr5e6ZWaTIXMuCNohR/view?usp=sharing

Here's the short video again for your reference: https://drive.google.com/file/d/1-3zwoY8FiMz0Z3R7shqUEVbTvJ1BKuM8/view?usp=sharing

@ja

[2021-01-27 23:52] jaahmuhl commented on #18
ARTICLE CONTENT POST:

"What is your one hard skill. What can you bring in that is going to make your hirable not just in your first job but as part of a career path for you"

(Grace Noble) and (Brett Hummel) sat down with (Jaquelline Fuller), the President of Google.org, to learn how she advises students to secure their first job.

#promazoexecinterviews, #firstjob, #google, #careeradvice,

[2021-02-05 04:42] jaahmuhl commented on #13
@mikepromazo

Blurb:

There are a lot of smart people. There are not a lot of people who get things done. This is the simple secret, according to (Emilia Sherifova) from (KKR), to how to build a successful career.

Interview with: (Brett Hummel) & (Baptiste Bouvier)
Video Editor: (Victoria Bongard)

#secrettosuccess, #promazoexecinterviews, #1stjob, #howtosucceedinlife, #youngprofessional

[2021-02-05 04:45] jaahmuhl commented on #5
@mikepromazo
For this video:
 https://drive.google.com/file/d/1sflVXLpgcFkT_RkFWngy1upfLmtsBwvK/view?usp=sharing

Blurb:

Take stock and "see if you're making a contribution". Learn the simple trick (Harry Moseley) the CTO of (Zoom), uses to determine if he is still satisfied at his current role.

Interview: (Brett Hummel) & (Baptiste Bouvier)

Videographer: (Victoria Bongard)

#jobchange, #career

[2021-02-05 06:11] jaahmuhl commented on #21
@bryanace53 looks good except for the edit to the main screen. Also at 24:28 there is a place where I try to ask a question and he cuts me off. I would like to cut my question out so it sounds like he went from his previous comment to that response.
![2021-02-05_00-35-13.png](https://images.zenhubusercontent.com/5cb3b35dd74bd07972cea86e/3c37601c-a986-4821-a32d-763881206fc8)

[2021-02-05 06:14] jaahmuhl commented on #21
@mikepromazo

Blurb:

"Senior people love to talk to junior people and junior people don't appreciate that". Get ahead of the game by listening to how (David Sagalov) from (ABInBev) suggests the best way to network and build connections.

Interviewers: (Brett Hummel) (Alex Rao)
Editor: (Bryan Acevedo)

#networking, #buildyournetwork, #promazoexecinterviews, #careeradvice

[2021-02-05 06:20] jaahmuhl commented on #19
@bryanace53 There are multiple points where he pauses and then asks if this is the direction we want to take the interview. I think we should remove these.

[2021-02-05 06:21] jaahmuhl commented on #19
Blurb:

Want to get hired by a senior IT leader at (Hulu)? Well, (Tim Richardson) doesn't just look for coders, he looks for people who solve problems. Learn more about what it takes to get hired at one of the top technology firms and how one senior leader advices young people how to manage their careers.

Interviewer: (Brett Hummel)

Editor: (Bryan Acevedo)

#hired, #firstjob, #promazoexecintervi

[2021-02-09 21:01] vbongard commented on #30
Video pitch:
**Video 1:** Balancing Passion and Competitive Advantage to Cultivate Success
_Laura talks a lot about the importance of finding work that you are both passionate about and skilled at. This video will cover her advice for using these factors to inform your career exploration, job search, and ultimate career path._
* 6:25- how did you transition away from investment banking? Her year i

[2021-02-09 21:03] vbongard commented on #30
**Video pitch:**

**Video 1:** Balancing Passion and Competitive Advantage to Cultivate Success
_Laura talks a lot about the importance of finding work that you are both passionate about and skilled at. This video will cover her advice for using these factors to inform your career exploration, job search, and ultimate career path._
- 6:25- how did you transition away from investment banking? Her y

[2021-02-10 05:47] jaahmuhl commented on #24
Hi @bryanace53,

Just a few quick edits. Right around 46 mins Aqeel asks me to repeat the question because of an audio issue. I'd like to remove my first time asking the question and him asking to repeat it.

At 50:26 he mentions that he can go a few mins over. I'd like to remove that and just make it smooth from Baptiste's question to his answer.

[2021-02-10 05:54] jaahmuhl commented on #24
@mikepromazo

Blurb:

Curiosity can grow into passion and ultimately passion can be monetized. But if you wake up every morning and you’re like _'ugh i hate my job. I’m going to do it 9 to 5 and then on weekends that’s when I am going to work on my passion.’_ It really never works out that way.

Learn from Aqeel Danish the Co-Founder of Exeest and the former CFO of NBC Global IT.

Hear how he reco

[2021-02-10 18:20] jaahmuhl commented on #25
@mikepromazo

Post this one: https://drive.google.com/file/d/1LyYKkxEx_7pqswKyhwKHAYGFlU3lyDqS/view?usp=sharing

Blurb:

"Be a difficult candidate". Hear the tips (Melisa Tokmak) from (ScaleAI) suggests you use to find out if the job is the right fit for you.

Interviewer: (Brett Hummel)
Editor: (Victoria Bongard)

#interview, #companyculture, #promazoexecinterviews,

[2021-02-10 21:21] jaahmuhl commented on #11
@bryanace53

When we are not in the shot, you shouldn't hear our voices. So I would just start with her after the question. We need to remove Baptiste's laughing at 2:40 and also at 2:59. He does it several times as well as I. Also at 11:25.

[2021-02-11 00:17] jaahmuhl commented on #20
@bryanace53
At 5:15 I want to make another question: What are some of the things a student can do to build their network?

[2021-02-11 00:17] jaahmuhl commented on #20
Blurb:
"No matter where you go to school and no matter the trajectory of your education/career. There is one thing that is powerful for any student and it's very simple. It is your .edu. That email ending is extremely powerful. So Reach out."

Hear how (Brentt Baltimore) suggests you approach you build a network and how he took a nontraditional path to become a Principal at (Greycroft)

Interviewe

[2021-02-11 02:07] jaahmuhl commented on #4
@vbongard

The videos look great. Only thing is the third video is an hour long but only 3:23 in actual content length.

[2021-02-11 14:49] jaahmuhl commented on #7
@bryanace53

https://drive.google.com/drive/u/1/folders/1_0PsVQK0eiXoJ-mFQgS7Yd2PbCqBWjAK

at min 2:05 I laugh and I was wondering if you can take this out of the audio.

For: https://drive.google.com/drive/u/1/folders/1_0PsVQK0eiXoJ-mFQgS7Yd2PbCqBWjAK
Can you change the first question to: How do you know if the job is the right fit?

Everything else looks great.

[2021-02-11 14:55] jaahmuhl commented on #7
Blurb for https://drive.google.com/file/d/151vlHSDFOlOOU4XHrvcgMUrAs6dDOCN1/view?usp=sharing
How do you become successful at any company around the world? Follow (Scott Price)'s model to joining a new company. Learn the tips and tricks a global leader used to rise to the top and become the Chief Strategy Officer of (UPS).

Interviewer: (Brett Hummel)
Editor: (Bryan Acevedo)

#careeradvice, #howtob

[2021-02-11 15:14] jaahmuhl commented on #10
@mikepromazo post this one first.

Blurb for this video: https://drive.google.com/file/d/1vqCbK3JC0HkhE9t5B-M0aGSxzGa2X8qp/view

During the pandemic companies have had to quickly adapt. For Etsy which . Hear how (Mike Fisher) the CTO of (Etsy) and his team were able to not only solve the challenge, but in doing so reinforced their mission at the same time.

Interviewers: (Baptiste Bouvier) & (Bret

[2021-02-11 15:26] jaahmuhl commented on #10
@mikepromazo

Blurb for this video: https://drive.google.com/file/d/1nNE5ES4cofThcScS6XVB05QCQ-t7HSSY/view

If you think of (Etsy), you probably think of it as an eCommerce company. But as (Mike Fisher) the CTO of (Etsy) explains, if you are into machine learning and big data, this would be an excellent place to start your career.

Interviewer: (Baptiste Bouvier) & (Brett Hummel)
Editor: (Victoria

[2021-02-11 23:44] jaahmuhl commented on #11
Blurb:

When is the time to make your next career move? Gloria D'Itri from Draft Kings suggests giving yourself a milestone to see if you still feel that way after 2 months to see if it is time to look elsewhere. Find out her thoughts on securing your first job.

Interviewer: (Baptiste Bouvier) & (Brett Hummel)

Editor: (Bryan Acevedo)

#changingjobs, #firstjob, #careeradvice, #promazo, #promazoex

[2021-02-12 19:35] jaahmuhl commented on #10
Blurb for this video: https://drive.google.com/file/d/1y58gVv6DNJeDUPbeh7fxtNpFcTik3JIj/view

You don't need to be a manager to be a leader. (Mike Fisher), the CTO of (Etsy), breaks down how a young professional can gain leadership experience as an independent contributor.

Interviewer: (Baptiste Bouvier) & (Brett Hummel)
Editor: (Victoria BOngard)

#leadership, #learntolead, #companyculture, #pro

[2021-02-16 15:30] jaahmuhl commented on #9
Blurb:

Are you thinking of starting a company during or right after school? Then this interview is for you. Take a listen to what resonates with (Elaine Russell), a Principal and Co-Lead of a fund at (Greycroft), when she hears pitches from founders.

#venturecapital, #founder, #womeninvc, #femalefounders, #promazoexecinterviews, #promazo, #entrepreneur

Interview: (Baptiste Bouvier) & (Brett Hum

[2021-02-24 03:52] jaahmuhl commented on #16
For This Video: https://drive.google.com/file/d/1lrvxKfMKVm7qrB7DUwrySxQEmWNyQBGo/view

Blurb:

What’s the secret sauce to becoming a successful leader?

1. Intellectual curiosity
2. A sense of urgency in everything you do
3. Being in the right place at the right time

Hear (Rick McCathron), the President of Hippo, the company transforming home insurance from the lens of the customer, share his qu

[2021-02-24 04:09] jaahmuhl opened #32 "Jennifer Jorgensen"
https://docs.google.com/document/d/1cYGRta2UM7Q7ALTdKqM3NG3L3ptBLtPfqbRgNv-NvNY/edit?ts=601b260d

Blurb:
Career advice is usually pretty boring. But (Grace Noble) gives a fresh take on how you can approach your career like the flavor profile of your favorite breakfast cereal with advice from (Jennifer Jorgensen), the Vice President, Brand and Business Unit Director, Cereal for ‎General Mills.

Int

[2021-02-26 04:04] jaahmuhl commented on #6
Blurb:

Why would you bother to look at new potential jobs when you're happy at your current one? (Peter Wang), the CTO of Buzzfeed, shows how this is the moment to reflect on your career and where you want to go.

Interviewers: (Baptiste Bouvier) & (Brett Hummel)

Editor: (Alisa Gao)

#buzzfeed, #promazoexecinterviews, #promazo, #careerplanning, #nextjob

[2021-02-26 04:08] jaahmuhl commented on #6
Video: https://drive.google.com/file/d/1rEjPH3y1S6gJ1cZ97Q5UOLJuDa5ZwU3b/view?usp=sharing

Blurb:
Want to learn what it takes to be an entrepreneur? (Peter Wang), the CTO of Buzzfeed, gives a quick lesson in what you need to do to convince someone to buy into you.

Interviewers: (Brett Hummel) & (Baptiste Bouvier)

Editor: (Alisa Gao)

#promazoexecinterviews, #promazo, #buzzfeed, #entrepreneur, #s

[2021-02-26 04:10] jaahmuhl commented on #6
Video: https://drive.google.com/file/d/1qOrCufLltm6_4bDA9YSDxHm6zv6oiWtM/view?usp=sharing

Blurb:
Get a quick inside look into how Buzzfeed and (Peter Wang), its CTO, are rethinking the entire idea of what it means to be a media company.

Interviewers: (Brett Hummel) & (Baptiste Bouvier)

Editor: (Alisa Gao)

#promazoexecinterviews, #promazo, #buzzfeed, #media, #futureofmedia, #futureofjournalism

[2021-02-26 04:25] jaahmuhl commented on #12
Video: https://drive.google.com/file/d/1KblAl8fuK40WyJBaJLZlbVhJICi_7JCy/view?usp=sharing

Blurb:

"When you're going into an interview. Don't just be interviewed. Interview the company." (Andrey Volosevich)'s advice to all students to take control of the recruiting process and make sure the company is the right fit for them.

Interviewer: (Brett Hummel)

Editor: (Victoria Bongard)

#Jefferies, #i

[2021-02-26 04:33] jaahmuhl commented on #17
@bryanace53 at 56 seconds the question does not have a ? at the end of the sentence. The same happens at 1:24 with that question

[2021-02-26 04:37] bryanace53 commented on #17
Ok I’ll fix it

[2021-02-26 19:14] vbongard commented on #4
@jaahmuhl Oh,  weird! I fixed it and re-uploaded: https://drive.google.com/file/d/1VoyvkARfDfsU_RAv70V1hl_9re70TrEJ/view?usp=sharing

@mikepromazo

[2021-03-02 14:44] jaahmuhl opened #33 "Troy Fenner, SVP of Human Resources at Roku"
@mikepromazo

Blurb: https://www.youtube.com/watch?v=GKT1RIdAJAQ

Roku has exploded as more and more content is consumed online. Ever wondered what a company like that looks for in their potential hires? Troy Fenner, the SVP of Human Resources, gives students insight into what they look in candidates.

Interviewer: (Brett Hummel)

#gethiredinsiliconvalley, #firstjob, #interview, #promazoexecinterv

[2021-03-02 15:55] mikepromazo commented on #33
https://drive.google.com/drive/u/4/folders/1OURxDLIhxTQGM5548FcdW9uNHhjUF-X5

 "Roku (short-company) 1" - post first

[2021-03-04 03:34] jaahmuhl opened #34 "Nuno Pedro-Article"
Blurb for https://docs.google.com/document/d/1ya5Tpa-lG46zi2yOVFVRZrMUoyoX810I1EySGl3QRLY/edit?ts=60089def:

“If you have learned and mastered a given skillset, then those people in the job will ask you to repeat what you have learned before. That's the point in time when you should think about doing something else.” Learn how to build a global career like (Nuno Pedro) the Global Head Commerce Sol

[2021-03-04 03:41] jaahmuhl opened #35 "Mike Gordon-Article"
Blurb for: https://docs.google.com/document/d/1ya5Tpa-lG46zi2yOVFVRZrMUoyoX810I1EySGl3QRLY/edit?ts=60089def

Life tip: Don't build your career like Gru from the Minions.

(Grace Noble) and (Mike Gordon) show how to avoid all the career mistakes a supervillain typically makes as they try to make their way to the top.

Interviewers: (Baptiste Bouvier) & (Brett Hummel)

Writer: (Grace Noble)

#funcar

[2021-03-06 18:45] bryanace53 commented on #21
Hey Brett,

Sorry I didn't see this email but when you say "looks good except for the
edit to the main screen" are you talking about the background? If so, how
should I redesign it? Any ideas that I should do?

On Fri, Feb 5, 2021 at 1:14 AM jaahmuhl <notifications@github.com> wrote:

[2021-03-14 14:38] jaahmuhl opened #36 "azra Jaben"
@bryanace53 I couldn't find this video even though you had said you had finished it.

Can you let me know where it is?

[2021-03-18 05:30] jaahmuhl commented on #11
Blurb for Article:

Finding that first job can be pretty daunting, but it's no match for the Incredibles. (Grace Noble) breaks down Gloria D'Itri''s tips on how to successfully navigate your career search and how you can apply the character traits of one of the world's most beloved Disney movies to finding your first job.

Interviewer: (Baptiste Bouvier) & (Brett Hummel)

Writer: (Grace Noble)

#j

[2021-04-01 16:43] mikepromazo commented on #25
@jaahmuhl - The video is longer than 10 mins so we can't post on LI.  Did Victoria make a shorter cut we can use?

[2021-04-06 03:05] jaahmuhl commented on #18
VIDEO CONTENT POST:

Getting your first job is all about hustle and tenacity. Learn what it took for (Jaqueline Fuller), the President of Google.org to get her initial dream job at the (Gates Foundation).

Interview: (Brett Hummel)

#promazoexecinterviews, #firstjob, #google, #whatdoesittake, #hustle

[2021-04-10 17:45] jaahmuhl commented on #25
@mikepromazo I don't think so. I guess you can have her shorten it by 40 seconds.

[2021-04-10 17:58] jaahmuhl commented on #25
@vbongard this is a great job on the video Victoria. It is awesome!

[2021-04-10 19:01] mikepromazo commented on #25
@vbongard - Hi Victoria the team ran into an issue trying to post the video on LinkedIn as the length limit is 10 minutes.  Can you make another version and trim it down to <10 mins?

[2021-04-10 19:12] jaahmuhl commented on #23
@bryanace53 at min 1:13 the video still has me speaking without showing me.

I also dont get why it shows the questions and then shows me. Can we just do a cut to me with a transition?

[2021-04-10 19:15] jaahmuhl commented on #23
[https://drive.google.com/drive/u/1/folders/1NyWDJhv04giGlEtrRvEZVnPOcoJLDrs1]
Blurb:

One theme in the career for Bruce the VP of Partnerships and New Business Development at Target, is always trying to gain a breadth of experiences. He thinks it is critical to gain these experiences if you aim to become a leader of large teams. Learn how he did it and his other advice on starting your career.

I

[2021-04-10 19:25] jaahmuhl commented on #27
@bryanace53 at 6 seconds in, it does not show me but I am speaking. We should either do it so that it never shows me speaking or hearing my voice and just the text questions or it has me in the videos without the text questions.

This also happens at 2:55.

[2021-04-10 19:31] jaahmuhl commented on #27
Blurb
@mikepromazo

As a young professional, it can be difficult to know when to present an idea to your boss. Turns out you can increase the chances of getting your ideas pushed through based on the part of the innovation cycle your company is currently in...

"One thing I've observed is the willingness to experiment and to innovate ebbs and flows in an organization. You have to be sensitive to t

[2021-04-11 21:16] vbongard commented on #25
Sure thing! Here's a shortened version: https://drive.google.com/file/d/1_jscnigcLNnLFUXxHpy9D00usBZBqak5/view?usp=sharing

[2021-04-14 03:14] bryanace53 commented on #27
Ok I will fix this

On Sat, Apr 10, 2021 at 3:25 PM jaahmuhl ***@***.***> wrote:

[2021-04-19 03:39] bryanace53 commented on #27
Hey Brett,

Here is the fixed video.

https://drive.google.com/drive/u/1/folders/1U6lEYBrASvgKgPIS8gK_XuJJcN5ClEcD

On Tue, Apr 13, 2021 at 11:13 PM Bryan Acevedo ***@***.***> wrote:

[2021-04-27 00:46] jaahmuhl opened #37 "Silvano Silva"
@mikepromazo

Blurb:
"Many people think [life] is like a ladder, but in reality it’s more of a rock climbing wall. You go a little sideways and down, but you have to have the 10 year foresight."

Learn how to bring a 10 year foresight into building your professional career with Silvano Silva, the Chief of Security for Treasure Data.

#infosec, #promazoexecinterviews, #promazo, #upsanddowns

Interv

[2021-04-27 00:46] jaahmuhl commented on #37
Article Link:
https://docs.google.com/document/d/1C5zT_x3JMtpJAl66GjkIMcvLfHMhKk5LHeJn-ajzbyQ/edit?ts=607b2941

[2021-05-01 22:39] vbongard commented on #16
Updated leadership video with edits from Hippo: https://drive.google.com/file/d/1l5BXE0auAoq_idZtHVbITHCSQFIkRJVN/view?usp=sharing

[2021-05-08 15:25] bryanace53 commented on #36
Here is the link to Azar's medium version of the video. I was just wondering if that is the correct title for her? Also I tried my best to fix the audio.

https://drive.google.com/drive/u/1/folders/1gBkpQoJAqsyTClXEV9EOUGyJcaEsd7ei

[2021-05-08 23:06] jaahmuhl commented on #21
@bryanace53
@mikepromazo

I think if you can just slow down the rotation of the animation around the the ProMazo P that would be good enough for right now. Or maybe make it like an audio file?

Kind of like what is on the Skimm??

https://www.instagram.com/p/COlhrO_hgM_/

[2021-05-08 23:10] jaahmuhl commented on #17
@bryanace53
@mikepromazo

Hey Bryan I just checked and the questions do not have ? at the end of them for each of the questions. Can you please add them?

[2021-08-24 23:10] #25 closed, assigned to vbongard

[2021-08-24 23:10] #27 closed, assigned to bryanace53

[2021-08-24 23:10] #16 closed, assigned to bryanace53

[2021-08-24 23:10] #23 closed, assigned to bryanace53

[2021-08-24 23:10] #13 closed, assigned to vbongard

[2021-08-24 23:10] #9 closed, assigned to vbongard

[2021-08-24 23:10] #12 closed, assigned to vbongard

[2021-08-24 23:11] #33 closed, assigned to nobody

[2021-09-02 05:25] #7 closed, assigned to bryanace53

[2021-09-02 23:53] jaahmuhl commented on #4
Blurb for: https://drive.google.com/file/d/1i6cmGWgefniIInIwWLNdNqSzkjnGs8nM/view

Can you still get a job without a college degree?

(Dave Blogget) the Global Head of Infrastructure and Technical Operations at (KKR) breaks down why he is open to these types of candidates and what he thinks you get from a more formal education.

Interviewers: (Brett Hummel) & (Baptiste Bouvier)

Editor: (Victoria

[2021-09-02 23:54] jaahmuhl opened #38 "Alice Vilma"
Blurb: https://studio.youtube.com/video/7sDWgVnygNE/edit (needs to be published)

[2021-09-03 00:06] jaahmuhl commented on #2
Blurb: https://drive.google.com/file/d/1SSw0rm291IHCRIKLIMeqEMvjKro9USr0/view?usp=sharing

Everyone always wonders about the power of mentorship and whether it is worth it. Well, today we have a masterclass on why it is. Hear how a mentor ((Jim Ambras)) for the former CTO of Uber ((Thuan Phan)) transformed his life when he was just starting his career and how Thuan still remembers and appreciates

[2021-09-03 00:09] jaahmuhl commented on #38
Blurb:

How do you build connections at a bulge bank? All it takes is a little extra effort says (Alice Vilma), Managing Director at (Morgan Stanley). And it starts with three simple things to build organic connections:

1. Go home at 7:15 instead of 7 and use those extra 15 minutes to pop in on your manager.
2. Sit in the seat next to your MD. It might be a little scarier, but it is worth it.
3.

[2021-09-03 00:20] jaahmuhl opened #39 "Laura Robblee"
Blurb: https://www.youtube.com/watch?v=dk88xBawoQM (unlisted)

With all the issues and pressure students face today, it is no wonder mental health for many students can be dangerously low.

(Laura Robblee) the former CHRO of GoPro and the current CHRO of (Zoura) suggests two simple ways you can start to celebrate yourself and get off feeling like you're always on the hamster wheel.

Interviewer: (